body
{
	background-color: black;
	color: #d4d4d4;
}
#arrow
{
	background-color: DarkOrange;
}
/*Блок, отвечающий за переключение темы (светлая, авто, тёмная)*/
.theme_selector > input:focus-visible ~ div
{
	box-shadow: 0 0 0 0.125rem white;
}
/*Конец блока, отвечающего за переключение темы*/
